.button{
height: 40px;width: 162px;border-radius: 10px;background-color:  #01274A;
}
.col{
    border:solid 1px;background-color:  #E0DFDF;height: 35px;width: 170px;
}
.sr1{border: solid 1px;}
.col1{
    border:solid 1px;height: 35px;width: 170px;
}
.sr{border: solid 1px;background-color:  #E0DFDF;}
.icon{
    width: 28px;height: 28px;border: solid 1px;padding: 5px;gap: 10px;
}