.text{
    font-weight: 600px;
    size: 14px;
     margin-left: 50px;
}
.a{ height: 30px;width: 300px;border: solid 1px;float: left;text-align: center;}
.b{ height: 30px;width: 93px;border: solid 1px;text-align: center;}
.text2{
    font-weight: 600px;
    size: 14px;
     margin-left: 100px;
}
.c{
    height: 30px;width: 150px;border: solid 1px;
}