.text{
    font-weight:500px ;
    size: 14px;
}
.input{width: 110px;margin-top: 5px;height: 30px;}
.input1{width: 277px;margin-top: 5px;height: 30px;}
.text3{font-weight: 700px;size: 14px;text-decoration: underline;}
.button{height: 52;width: 350px;border-radius: 10px;background-color:  #01274A;}
